/* Стили для страницы "О нас" */
.main-content-about {
    margin-top: 20px;
    height: 550px;
    width: 96%;
    position: relative;
    left: 2%;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

.about-content {
    max-width: 800px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin: 0 0 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 18px;
    margin: 0 0 10px 20px;
}

 
