/* Стили для баннеров */
.banner-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin: 0 -20px; /* Добавляем отрицательные отступы с обеих сторон */
}

.banner {
    width: 100vw; /* Занимает всю ширину экрана */
    height: 200px;
    overflow: hidden;
    transition: transform 1s ease-in-out;
    position: relative;
    padding: 0 20px; /* Добавляем отступы с обеих сторон */
    box-sizing: border-box; /* Учитываем отступы в общей ширине */
}

.banner img {
    max-width: 100%;
    height: auto;
}

/* Стили для текста в баннерах */
.banner-text {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.banner-text h3 {
    margin: 0;
    font-size: 18px;
}

.banner-text p {
    margin: 0;
    font-size: 14px;
}

/* Стили для при наведении на текст в баннерах */
.banner:hover .banner-text {
    background-color: rgba(0, 0, 0, 0.5);
}
