.main-content-cont {
    margin-top: 20px;
    height: 900px;
    width: 96%;
    position: relative;
    left: 2%;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
}

#map-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#map {
    border-radius: 10px;
    width: 90%;
    height: 90%;
    border: 1px solid #ccc;
    position: relative;
    right: 0%;
}

.content-contACN {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}







.main-conn-contact {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(41, 41, 41);
    border-bottom: 2px solid rgb(41, 41, 41);
 
}




h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стили для блоков контактов */
.contact-block {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-block h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-block p {
    font-size: 16px;
    margin: 0;
}

.contact-block ul {
    list-style: none;
    padding: 0;
}

.contact-block li {
    margin-bottom: 5px;
}

.contact-block a {
    text-decoration: none;
    color: #0077b5;
}

.contact-block a:hover {
    text-decoration: underline;
}
