/* Стили для навигационного меню */
.menu {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #ff6600;
}

/* Стили для кнопок ЛК и Корзина */
.user-buttons {
    display: flex;
    gap: 10px;
}

.lk-button, .cart-button, .yslyg-button, .about-button, .contact-button, .yslyg-button-s1 {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lk-button:hover, .cart-button:hover {
    background-color: #ff9900;
}
