.main-content-serv {
    margin-top: 20px;
    height: 1367px;
    width: 96%;
    position: relative;
    left: 2%;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
}

.serv1 {
    height: 150px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
}

.photo-serv1 {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.photo-yslyg-serv1{   
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.Yslygi-content-serv1 {
    margin: 10px;
    height: 100px;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 160px;
    left: 150px;
    
}

.yslyg-button-s1 {
    position: relative;
    top: 30px;
    right: 0px;
}

