body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


header, section, footer {
    padding: 20px;
}

/* Стили для заголовков и текста */
h1, h2 {
    color: #333;
}

/* Стили для списка услуг */
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Стили для футера */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}




/* Стили для блоков с услугами */
.services-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 30%; /* Можно настроить ширину блока */
}

.service img {
    max-width: 100%;
}

.service h3 {
    margin: 10px 0;
}

.service button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service button:hover {
    background-color: #ff9900;
}


.main-content {
    margin-top: 20px;
    height: 807px;
    width: 96%;
    position: relative;
    left: 2%;
    border: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
}



.Yslygi {
    height: 400px;
    width: 100%;
 
    border-bottom: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
    position: relative;
 
}

.agit-photo {
    height: 400px;
    width: 400px;
}
.photo-yslyg{
    margin: 30px;   
    border-radius: 100px;
    height: 350px;
    width: 350px;
}
.Yslygi-content {
    height: 340px;
    width: 600px;
   
    position: relative;
    left: 400px;
    bottom: 400px;
    margin: 20px;
   
}

.yslyg-button {
 position: relative;
 bottom: 5px;
}



.about {
    height: 400px;
    width: 100%;
  
    border-top: 2px solid rgb(41, 41, 41);
    border-bottom: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
  
}

.about-photo {
    height: 400px;
    width: 400px;
}
.photo-about{
    margin: 30px;   
    border-radius: 100px;
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 360px;
    left: 850px;
}
.about-content {
    height: 340px;
    width: 800px;
 
    position: relative;
    top: 20px;
    left: 20px;
}

.about-button {
    position: relative;
    top: 20px;
     
}



.contact {
    height: 400px;
    width: 100%;
 
    border-bottom: 2px solid rgb(41, 41, 41);
    border-radius: 10px;
  
}

.contact-photo {
    height: 400px;
    width: 400px;
}
.photo-contact{
    margin: 30px;   
    height: 350px;
    width: 350px;
    position: relative;
    bottom: 340px;
    left: 1050px;
}
.contact-content {
    height: 340px;
    width: 1000px;
 
    position: relative;
    top: 20px;
    left: 20px;
}

.contact-button {
    position: relative;
    top: 345px;
    right: 120px;
}