#LogoTOP{
    height: 10%;
    position: absolute;
    left: 20%;
}

nav {
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    overflow: hidden;
    background-color: white;
    text-align: center;

}

header {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,.2);
}

footer {
    background-color: rgb(231, 230, 230);
    padding-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 239, 239);
}

.footer-section {
    flex: 1;
    margin-right: 20px;
    background-color: rgb(240, 239, 239);

}

#D1 {
    position: relative;
    top: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
#LogoFoot{
    height: 100px;
    width: 100px;
    position: relative;
    top: 20px;
}

#LogoFoot2{
    position: relative;
    height: 50px;
    width: 330px;
}
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
li a {
    color: #868686;
    text-transform: uppercase;
}
li {
    display: inline-block;
    margin-left: 25px;
    transition: .5s linear;
}
li a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 20px;
    background: #868686;
    transition: all 0.5s linear;
}
li a:hover:after{
    width: 100%;
}
@media screen and (max-width:574px) {
    .logo-box {
        float: none;
        margin: 0 auto;
    }
    ul {
        float: none;
        margin: 0 25px;
    }
    li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
    nav {
        overflow: visible
    }
    ul {
        height: auto;
        margin: 25px 25px 0 25px;
        line-height: 50px;
    }
    li {
        display: block;
        margin: 0;
    }
    li:hover {
        background: rgba(0,0,0,.1)
    }
    li a:after {
        content: none;
    }
}

#fsdfsf14{
    background-color: #4e50aa;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

button {
    background-color: #3dc248;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input,
textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #333;
}


/*input[type="text"],*/
/*input[type="email"],*/
/*input[type="password"],*/
/*textarea {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
/*}*/

button {
    padding: 10px 20px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="text"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}