/* ПривТекст */
.logoAAAAF {
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  margin-top: 50px;
}

.logoAAAAF span {
  font-size: 24px;
  font-weight: normal;
  text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
  display: block;
}
/* */
#logo{
  margin: 0;
  height: 100px;
  position: relative;
  top: 40px;   
  right: 350px; 
}
#LogoTOP{
  height: 10%;
  position: absolute;
  left: 20%;
}
h1{
  color: #000033;
}
/*h2{
  color: #000033;
}*/
#logo-box{
  width: 100px;
  height: 50px;
  float: left;
  margin-left: 0px;
 
}
#promo {
  width: 100%;
  height: 600px;
  background-image: url(../media/fon/fff.jpg);
 
}
#promoA {
  width: 100%;
  height: 600px;
  background-image: url(../media/fon/F2.jpg);
 
}
#promoB {
  width: 100%;
  height: 600px;
  background-image: url(../media/fon/314.jpg);
 
}
#promoC {
  width: 100%;
  height: 650px;
  background-image: url(../media/fon/2323232.jpg);
}
#promoD {
  width: 100%;
  height: 650px;
  background-image: url(../media/fon/343434252525325235235.jpg);
 
}
#Block{
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
  position: absolute;
}

#Prem {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: #c6f1ff;
  text-align: center;
  
}
#INF {
  width: 800px;
  height: 600px;
  position: absolute;
  bottom: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#INF1 {
  width: 1000px;
  height: 600px;
  position: absolute;
  bottom: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#bodyMain{
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
  background-image: url(../media/fon/666.jpg);
}
body{
  margin: 0;
  font-family: 'Comic Sans MS', sans-serif;
}
header {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);  
}
nav {
  max-width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
  background-color: white;
  text-align: center;

}

button {
  display: inline-block;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  background-color: #ff5722;
  color: #59a839;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #ff784e;
}

#logo2{
  height: 300px;
  width: 300px;
}

#BAZA4 {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align:center;
}
/*ul {
  margin: 0;
  margin-right: 25px;
  padding-left: 0;
  list-style: none;
  float: right;
  height: 70px;
  line-height: 70px;
  text-align:center;
}*/


a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
li a {
  color: #868686;
  text-transform: uppercase;
}
li {
  display: inline-block;
  margin-left: 25px;
  transition: .5s linear;
}
li a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 20px;
  background: #868686;
  transition: all 0.5s linear;  
}
li a:hover:after{
  width: 100%;
}
@media screen and (max-width:574px) {
  .logo-box {
    float: none;
    margin: 0 auto;
  }
  ul {
    float: none;
    margin: 0 25px;
    }
 li:first-of-type {margin-left:0}
}

@media screen and (max-width:493px) {
nav {
  overflow: visible
}
ul {
  height: auto;
  margin: 25px 25px 0 25px;
  line-height: 50px;
}
li {
  display: block;
  margin: 0;
}
li:hover {
  background: rgba(0,0,0,.1)
}
li a:after {
  content: none;
}
}
#LogoFoot{
  height: 100px;
  width: 100px;
  position: relative;
  top: 20px;
}
footer {
  background-color: rgb(231, 230, 230);
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-family: 'Comic Sans MS', sans-serif;
}
#D1 {
  position: relative;
  top: 20px;
}
#LogoFoot2{
  position: relative;
  height: 50px;
  width: 330px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 239, 239);
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  background-color: rgb(240, 239, 239);

}
#dafafw{
  color: #333;

}

.footer-section:last-child {
  margin-right: 0;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #333;
}

button {
  background-color: #3dc248;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#fsdfsf14{
  background-color: #4e50aa;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #555;
}






/* О нас */






#Promo2 {
  background-image: url(../media/fon/BAD.png);
  width: 100%;
  height: 200px;
}
#MainAB {
  background-color: white;
  width: 100%;
  height: 1740px;
}
.about-section {
  background-color: white;
  padding: 50px;
  margin-bottom: 50px;
  width: 80%; 
  margin: 0 auto; 
  font-family: 'Comic Sans MS', sans-serif;

}
.about-section2 {
  background-color: white;
  padding: 50px;
  margin-bottom: 50px;
  width: 80%; 
  margin: 0 auto; 
  font-family: 'Comic Sans MS', sans-serif;

}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: -20px;
  text-align: center;
}
.about-section2 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: -20px;
  text-align: center;
}
.about-section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
.about-section2 p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-section ul {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
.about-section2 ul {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
.about-section li {
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', sans-serif;
  
}
.about-section2 li {
  margin-bottom: 10px;
  font-family: 'Comic Sans MS', sans-serif;
  
}
.about-section li::before {
  content: "\2022";
  color: #ff6b6b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.about-section2 li::before {
  content: "\2022";
  color: #ff6b6b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.about-section a {
  color: #ff6b6b;
  text-decoration: none;
}
.about-section2 a {
  color: #ff6b6b;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}
.about-section2 a:hover {
  text-decoration: underline;
}

.about-section .quote {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 20px;
}
.about-section2 .quote {
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 20px;
}
.about-section .quote p {
  margin-bottom: 0;
}
.about-section2 .quote p {
  margin-bottom: 0;
}
.about-section .quote cite {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-style: normal;
  font-size: 1.1rem;
  color: #666;
}
.about-section2 .quote cite {
  display: block;
  text-align: right;
  margin-top: 10px;
  font-style: normal;
  font-size: 1.1rem;
  color: #666;
}
.about-section {
  padding: 50px 20px;
}
.about-section2 {
  padding: 50px 20px;
}
.about-section h2 {
  text-align: center;
  font-size: 2rem;
}
.about-section2 h2 {
  text-align: center;
  font-size: 2rem;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
}
.about-section2 p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 20px;
}
/* Состав */
.staff {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  width: 100%;
  height: 1400px;
  background-color: white;
  margin: 0 auto; 
  padding: 0px;
  font-family: 'Comic Sans MS', sans-serif;
  clear: both;
  position:static;
}

.staff-member {
  margin: 20px;
  text-align: center;
}

.staff-member img {
  border-radius: 50%;
}

.staff-member h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.staff-member p {
  font-size: 1.2rem;
  color: #999;
}


/* Галерея */
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: white;
  margin: 0px;
}
#fafs{
  font-size: 20px;
}
.galleryNADMS{
  width: 80%;
  background-color: white;
  position: relative;
  text-align: center;
  margin: auto; /* устанавливаем автоматические отступы */

}
.gallery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.gallery-item {
  width: 70%;
  height: auto;
  margin: 0 20px;
  scroll-snap-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}











/* Путёвки */

#GlobalBAT{
  width: 100%;
  height: 1260px;
  position: relative;
  margin: 0px;
  background-color: white;
  top: 0px;  
 
}
#GlobalBAT p {
  font-family: 'Comic Sans MS', sans-serif;
}
.Pref{
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 200px;  
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
}
.ContainerCard{
  width: 80%;
  height: 500px;
  background-color: white;
  position: relative;
  bottom: 0px; 
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.card-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-info p {
  font-size: 16px;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2db967;
}

/* Кнопки со скриптом */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.popup-close {
  background-color: #f44336;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}






/* Заказ путёвки */
/*
.form-wrapper {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  
}
*/
.form-wrapper {
  width: 800px;
  height: 800px;
  position: relative;
  right: 200px;
  
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

form {
  display: inline-block;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00796b;
}












/* Контакты */











.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.map {
  margin-bottom: 20px;
}

.info {
  text-align: center;
  font-size: 18px;
}

.info p {
  margin-bottom: 10px;
}

iframe {
  border-radius: 10px;
}

/* Основные блоки */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  background-image: url(../media/fon/666.jpg);
  
}
.box {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.box img {
  display: block;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.box h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}
.box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #666;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}

/* Всплывающие окно/кнопка */

.containerA {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  position: absolute;
}

.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

button#close-modal1, button#close-modal2, button#close-modal3, button#close-modal4, button#close-modal5, button#close-modal6 {
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	background-color: red;
	color: #fff;
	cursor: pointer;
 
}








/* ЧаВо */





.FAQALL {
  position: relative;
  bottom: 30px;
  background-color: white;
}

.FAQMainBlock{
  width: 100%;
  height: 1600px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
}
.FAQMainBlock p{
  font-size: 20px;

}
.PrivBL {
  width: 90%;
  height: 140px;
  background-color: white;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 0px;
  padding: 0px;
}


.faq-block {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
}

.faq-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.faq-item {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.faq-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.faq-question {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  cursor: pointer;
}

.faq-answer {
  font-size: 1.1rem;
  color: #777;
  display: none;
}

.faq-answer.active {
  display: block;
}


/* Обратная связь */


.feedback-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  font-family: 'Comic Sans MS', 'sans-serif';
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="tel"], textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.response {
  margin-top: 20px;
}

.operator-response {
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.PrivBLA {
  width: 100%;
  height: 60px;
  background-color: white;
  text-align: center;
}